body{
    background-color: white;
    padding: 18px;
}
h1{
    background: green;
    font: 400;
    margin: auto;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    padding: 18px;
}
h2{
    background-color: azure;
    text-align: center;
    text-decoration: underline;
    
}
h3{
    text-align: center;
}
table{
    background-color: pink;
    border-radius: 10px;
    margin: auto;
}