body{
    font-family: 'Courier New', Courier, monospace;
}
header{
    background-color: darkgoldenrod;
    text-align: center;
    color: white;
    padding: 10px;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline;
    margin: 0 15px;
}
nav ul li a{
    text-decoration: none;
    color: purple;
    padding: 15px;
}
nav ul li a:hover{
    color: red;
    background-color: pink;
}