body{
    background-color: beige;
}
@keyframes chrome{
    0%{
        color: blue;
    }
    25%{color: maroon;}
    50%{color: gold;}
    100%{color: blue}

}
#one{
    animation-name: chrome;
    animation-duration: 3s;
    animation-iteration-count:infinite;
}
#myheading{
    animation: slidein 5s infinite;

}
@keyframes slidein{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(600px);
        color: purple;
    }

}
#mydiv{
    width: 150px;
    background-color: blue;
    height: 250px;
    color: white;
    animation: rotate 5s 10;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg) translateX(0) rotate(0);

    }
    50%{
        transform: rotate(180deg);
        background-color: blue;
    }
    100%{
        transform: rotate(360deg);
        transform: translate(1000px);
    }
}