Body{
    background-color: rgb(229, 255, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image:url(../images/sky.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h2{
    color: blue;
    text-align: center;
    text-decoration: underline;
}
table{
    text-align: center;
    width: 50%;
    margin: 20px auto;
    background-color: lightblue;
    padding: 15px;
    border-radius: 50px;
}
th{
    /* border-width: 2px;
    border-color: purple;
    border-style: solid; */
    border: 1px white solid;
    text-align: center;
    background-color: lightgrey;
}
h3{
    text-align: center;
    width: 50%;
    margin: 20px auto;
    background-color: white;
    padding: 15px;
    border-radius: 50px;
}