body{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(../images/Mt-Everest-scaled.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1052px 962px;
    
}
#container{
    background-color: bisque;
    padding: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    color: white;
}
service{
 border: 1px solid gray;
    background-color: yellowgreen;
    flex: 1;
}
/* adding responsives*/
@media(max-width:768px){
    body{
        background-color: beige;
    }
    #container{
        flex-direction: column;
    }
}
   