body{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}
#container{
    background-color: bisque;
    padding: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
service{
 border: 1px solid gray;
    background-color: yellowgreen;
    flex: 1;
}
/* adding responsives*/
@media(max-width:768px){
    body{
        background-color: beige;
    }
    #container{
        flex-direction: column;
    }
}
   